body{  
    background-color: bisque;
    text-align: center;
    padding-bottom: 100px;
}

h1{
    display: inline-block;
    width: 200px;
    background-color: black;
    color: white;
    border: solid;
    border-radius: 5px;
    padding: 5px;
    margin-left: 1rem;
    margin-right: 1rem;
}

h2{
    display: none;
    text-align: center;
    color: red;
    margin-top: 0;
    margin-bottom: 0;
}


.container{
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
}
.game{
    display: flex;
    height: 60vmin;
    width: 60vmin;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.btn{
    border: none;
    background-color: aquamarine;
}
.btn:hover{
    background-color: gray;
    cursor: pointer;
}

.box{
    height: 18vmin;
    width: 18vmin;
    font-size: 5vmin;
    background-color: white;
    color: black;
    border-radius: 5px;
}


.reset{
    display: inline-block;
    width: 70px;
    font-size: large;
    background-color: black;
    color: white;
    border: solid;
    border-radius: 5px;
    padding: 5px;
}

.reset:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.reset:active{
    background-color: black;
    color: white;
    opacity: 0.8;
}

.New-game{
    display: none;
    width: 120px;
    font-size: large;
    background-color: black;
    color: white;
    border: solid;
    border-radius: 5px;
    padding: 5px;
}

.New-game:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.New-game:active{
    background-color: black;
    color: white;
    opacity: 0.8;
}